.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 164px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 164px;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: -129px 339px 0 221px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  line-height: 24px;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 8px 76px 34px 221px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -133px;
    margin-right: 265px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 13px 0 46px 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -140px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
    width: 265px;
    margin-top: 25px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-right: 0;
    margin-left: 236px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-bottom: 25px;
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-image-1 {
    height: 128px;
    width: 132px;
    margin-top: 10px;
    margin-left: -27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -120px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 115px;
  }
}.u-section-2 {
  background-image: url("images/3c956bff4fc5fc5526780c4fce1c59b05d93557bc9b907f149454052db23e61e4668e49c4f1578957364d0a48fc79e538ce28096b1fdd977e4d3cc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 567px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 418px;
  margin: 75px 124px 0 715px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: flex-end;
  margin: -197px auto 0 124px;
  padding: 11px 54px 11px 53px;
}

.u-section-2 .u-image-1 {
  width: 119px;
  height: 119px;
  margin: -261px auto 0 131px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -119px 570px 60px 270px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: 25px;
    margin-right: 49px;
    margin-left: 584px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -225px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -260px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 424px;
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 310px;
    margin-top: 381px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -581px;
    margin-left: 140px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 141px;
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 435px;
    margin-top: 364px;
    margin-left: 113px;
    margin-right: 113px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -596px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -278px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 50px;
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 426px;
    margin-top: 288px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 3rem;
    margin-top: -559px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 36px 12px;
  }

  .u-section-2 .u-image-1 {
    width: 94px;
    height: 94px;
    margin-top: -218px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -95px;
    margin-right: -75px;
    margin-left: 105px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 327px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 140px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 17px 0 0 auto;
  padding: 9px 31px 11px 30px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}