.u-section-1 {
  background-image: url("images/plane-3840x2160-minimalism-colors-4k-18613.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 418px;
  margin: 75px 118px 0 721px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: flex-end;
  margin: -197px 570px 0 auto;
  padding: 11px 54px 11px 53px;
}

.u-section-1 .u-image-1 {
  width: 119px;
  height: 119px;
  margin: -261px auto 0 131px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -119px 570px 60px 270px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 32px;
    margin-right: -615px;
    margin-left: 615px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -208px;
    margin-right: 401px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -252px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -117px;
    margin-right: 401px;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 412px;
    width: 592px;
    margin-top: 384px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -600px;
    margin-right: 150px;
    margin-left: 141px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -261px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 141px;
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    min-height: 784px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -966px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -260px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 50px;
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 922px;
    margin-top: 322px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 3rem;
    margin-top: -1074px;
    padding: 10px 36px 12px;
  }

  .u-section-1 .u-image-1 {
    width: 94px;
    height: 94px;
    margin-top: -213px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -95px;
    margin-right: -73px;
    margin-left: 103px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 140px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 87px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 57px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}