.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 164px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 164px;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: -129px 339px 0 221px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  line-height: 24px;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 8px 76px 34px 221px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -133px;
    margin-right: 265px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 13px 0 46px 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -140px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
    width: 265px;
    margin-top: 25px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-right: 0;
    margin-left: 236px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-bottom: 25px;
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-image-1 {
    height: 128px;
    width: 132px;
    margin-top: 10px;
    margin-left: -27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -120px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 115px;
  }
}.u-section-2 {
  min-height: 843px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 422px;
  background-image: url("images/vyufe56ucj6.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/18cc6d36d8c8e65cc64c2de2ed3c96ec8f7d948f8d520a774c14c59a4e7401a850f26377804ac0d3110f3372e791a8b55f9ba52c10c9c5f1b697b0_1280.jpg");
  background-position: 50% 50%;
  min-height: 422px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/648309842-0.jpeg");
  background-position: 50% 50%;
  min-height: 422px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 422px;
  background-image: url("images/fc5aee1d801b880eddb04b00138335931bf57488007ff43753b455aa5542dc1dac22a2026c1a05d518f36e09347f149055cf9da0764b633f11fee2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 842px;
  height: 400px;
  margin: -622px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 646px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 323px;
  }

  .u-section-2 .u-image-3 {
    min-height: 323px;
  }

  .u-section-2 .u-image-4 {
    min-height: 323px;
  }

  .u-section-2 .u-image-5 {
    width: 503px;
    height: 212px;
    margin-top: -429px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1838px;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-2 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 497px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -1076px;
    margin-left: calc(((100% - 540px) / 2) + 19px);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1141px;
  }

  .u-section-2 .u-image-1 {
    min-height: 252px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 305px;
  }

  .u-section-2 .u-image-3 {
    min-height: 305px;
  }

  .u-section-2 .u-image-4 {
    min-height: 313px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 143px;
    margin-top: -689px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 327px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 140px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 17px 0 0 auto;
  padding: 9px 31px 11px 30px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: url("images/PICTURE3.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 731px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 603px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 267px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/BACK.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 727px;
}

.u-section-5 .u-video-1 {
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  width: 747px;
  height: 420px;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-5 .u-icon-1 {
  width: 151px;
  height: 151px;
  animation-duration: 1000ms;
  margin: 46px auto 0 74px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  text-shadow: 7px 7px 16px rgba(0,0,0,0.5);
  margin: -153px 93px 0 261px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  animation-duration: 1000ms;
  text-shadow: 0px 0px 24px rgba(0,0,0,1);
  margin: 0 0 44px 261px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-5 .u-video-1 {
    margin-top: 56px;
  }

  .u-section-5 .u-icon-1 {
    width: 87px;
    height: 87px;
    margin-top: 34px;
    margin-left: 71px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -76px;
    margin-right: 71px;
    margin-left: 181px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 11px 11px 56px 44px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 405px;
    margin-top: 75px;
  }

  .u-section-5 .u-icon-1 {
    width: 80px;
    height: 80px;
    margin-top: 17px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: -66px;
    margin-right: 30px;
    margin-left: 139px;
  }

  .u-section-5 .u-text-2 {
    margin: 23px 0 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-top: 79px;
  }

  .u-section-5 .u-icon-1 {
    width: 120px;
    height: 120px;
    margin-top: 9px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -112px;
    margin-right: 45px;
    margin-left: 205px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 17px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-top: 62px;
  }

  .u-section-5 .u-icon-1 {
    width: 115px;
    height: 115px;
    margin-top: 25px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}